 <!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static '/css/materialize.css' %}" >
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--    <script src="{% static 'js/jquery.js' %"></script> -->
   <script src="{% static 'js/materialize.js' %}"></script>
</head>
<body>
  <nav class="grey darken-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><img style="height:50px;margin-top:7px;" src='{{client.logo}}'/></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="../home">HOME</a></li>
      <li><a href="../system">SYSTEM</a></li>
      <li><a href="../offers">OFFERS</a></li>
    </ul>
  </div>
</nav>
<div class="row" style="margin-top:10px;padding:30px;" >
  <div style="margin-bottom:40px;" Class="col l12">
    <h4 class="center-align">TODAY</h4>
  </div>
  <div class="col l12 " >
    <div class="col l2 offset-l2">
        <h4 style="font-weight:100;"class="center-align">followers<br><br><br>{{follows}}</h4>
    </div>
    <div class="col l2" >
        <h4 style="font-weight:100;"class="center-align">VISITS</br><br><br>90</h4>
    </div>
    <div class="col l2">
        <h4 style="font-weight:100;"class="center-align">OFFERS<br>VIEWED<br><br>{{views.views__sum}}</h4>
    </div>
    <div class="col l2">
        <h4 style="font-weight:100;"class="center-align">OFFERS<br>CLICKED<br><br>{{clicks.likes__sum}}</h4>
    </div>
  </div>
</div>
</body>
</html>
